[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
west = ">=0.10.1"
pyelftools = ">=0.26"
pykwalify = "*"
canopen = "*"
progress = "*"
psutil = "*"
pylink-square = "*"
anytree = "*"
intelhex = "*"
windows-curses = "*"
colorama = "*"
ply = ">=3.10"
gcovr = ">=4.2"
coverage = "*"
pytest = "*"
mypy = "*"
mock = ">=4.0.1"
breathe = "<4.33,>=4.30"
sphinx-rtd-theme = "~=1.0"
sphinx-tabs = "*"
sphinxcontrib-svg2pdfconverter = "*"
sphinx-notfound-page = "*"
pyserial = "*"
pyocd = ">=0.29.0"
tabulate = "*"
cbor = ">=1.0.0"
gitlint = "*"
junit2html = "*"
lpc-checksum = "*"
imgtool = ">=1.7.1"
protobuf = "*"
python-magic = "*"
junitparser = "<2"
pylint = "*"
PyYAML = ">=5.1"
Sphinx = "~=4.0"
Pygments = ">=2.9"
Pillow = "*"
PyGithub = "*"

[dev-packages]

[requires]
python_version = "3.8"
